<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../common/css/header.css" />
    <link rel="stylesheet" href="../../../common/css/footer.css" />
    <link rel="stylesheet" href="../../../common/css/indexCommon.css">
    <link rel="stylesheet" href="../../../user/css/myPage/userMyPageCommon.css">
    <link rel="stylesheet" href="../../../user/css/userLike.css">
    <script defer src="../../../user/js/userHeart.js"></script>
    <script defer src="../../../js/index.js"></script>
    <title>heart</title>
</head>

<body>
    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->

    <!-- ---------------- <header> 모듈 ------------------ -->
    <header th:replace="html/fragments/headerFooter :: header"></header>
    <!-- ---------------- <header> 모듈 ------------------ -->

    <main>
        <h1>Wishlist</h1>
        <hr>
        <article class="shop_likelist">
            <ul>
                <li class="shop_likeboxnone hidden">
                    <span>보관함이 비어 있습니다.</span>
                </li>
                <li class="shop_likebox">
                    <div class="shop_likeleft">
                        <div class="agreeAll checkBox">
                            <input type="checkbox" name="agreeCheck1" id="agreeCheck1">
                            <label for="agreeCheck1" id="agreeCheck1"></label>
                        </div>
                        <a href="../item/itemDetail.html" class="likelistimgbox">
                            <img src="../../../img/order/photo_5.jpg" alt="아르르 꿀잠 방석" class="likelistimg">
                        </a>
                        <a href="../item/itemDetail.html" class="likelisttextbox">
                            <strong>아르르 꿀잠 방석</strong>
                        </a>
                    </div>
                    <div class="shop_likeright">
                        <img src="../../../img/order/delete.png" alt="삭제버튼" class="likedeleteIcon" name="1">
                    </div>
                </li>
            </ul>
        </article>
        <article class="shop_likeBtnlist">
            <div class="shop_likeBtnleft">
                <a href="#none" class="likepayBtnw">선택삭제</a>
                <a href="#none" class="likepayBtnw">전체삭제</a>
            </div>
            <div class="shop_likeBtnright">
                <a href="#" class="likepayBtnw">장바구니 담기</a>
                <a href="#" class="likepayBtnb">상품 주문하기</a>
            </div>
        </article>
    </main>

    <!--------------------- <footer> 모듈 --------------------->
    <footer th:replace="html/fragments/headerFooter :: footer"></footer>
    <!--------------------- <footer> 모듈 --------------------->
</body>

</html>