@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "IBMPlexSansKR-Regular";
}

h2 {
    text-align: center;
    margin: 50px;

}

body pre {
    overflow-x: hidden;
    text-align: center;
    margin: 100px;
    /* width: 800px; */
}