* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

nav,
main {
  width: 80%;
  margin: auto;
}


@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBMPlexSansKR-Regular';
  background: linear-gradient( to bottom,rgba(186,170,215,0.5) -1px, rgba(186,170,215,0.5) 350px,white 350px, white 100% );
}

.c_community_head {
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.c_community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_page_catagory>ul {
  padding-bottom: 30px;
}

.c_page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.c_page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}


.c_page_catagory li .Q_A {
  background-color: #BAAAD7;
  color: white;
}

.c_page_catagory li a {
  font-size: initial;
  color: #BAAAD7;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.c_page_catagory li a:hover {
  background-color: #8E83A9;
  color: white;
}

.c_article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

.c_form{
  width: 1024px;
  margin: auto;
}

.c_write_space {
  margin: auto;
  min-width: 1024px;
}

.c_underul{
  display: flex;
  box-sizing: border-box;
  font-size: initial;
  line-height: 40px;
  width: 1024px;
}

.textarea_li{
  width: 100%;
}

textarea {
  resize: none;
  width: 1024px;
  margin-top: 20px;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'IBMPlexSansKR-Regular';
  box-sizing: border-box;
}


.c_underli{
  width: 10%;
}
.c_underli_title{
  width: 5%;
}
.c_belowli{
  width: 95%;
}

.qna_title{
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
}

select {
  font-size: initial;
  padding: 0 10px;
  color: #BAAAD7;
  border: 0;
  width: 1024px;
  background-color: rgba(186,170,216,0.2);
  min-height: 40px;
  outline: none;
}

.inputPassword .c_password {
  outline: none;
  background-color: rgba(186,170,216,0.2);
  padding: 6px;
  border: none;
}

/* P{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p span {
  font-size: 10px;
  letter-spacing: -0.5px;
  display: none;
  color: crimson;
} */


option {
  padding: 10px;
}

label {
  font-size: initial;
}

.c_button {
  margin: 10px auto 15px;
  padding: 10px 0;
  width: 1024px;
  text-align: right;
}

.c_button a {
  font-size: initial;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 7px;
}

.c_button button {
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  background-color: #BAAAD7;
  color: white;
  box-sizing: border-box;
}

.c_button .list {
  background-color: white;
  color: #BAAAD7;
}

.c_button .confirm {
  width: 77.45px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #BAAAD7;
  background-color: #BAAAD7;
  color: white;
  box-sizing: border-box;
}

/*@media screen and (max-width: 1024px) {*/
/*  .c_page_catagory ul {*/
/*    gap: 10px;*/
/*  }*/

/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .c_page_catagory li a {*/
/*    font-size: 12px;*/
/*  }*/
/*}*/