<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/admin/addressInfo.css" />
    <script defer src="../../javascript/index.js"></script>

    <title>배송지관리</title>
</head>

<body>

    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->
    <header id="headerTop">
        <div class="title">
            <h1>관리자페이지</h1>
        </div>

        <ul class="list">
            <li class="dBoard">
                <a href="../admin.html">대시보드</a>
            </li>
            <li class="userInfo">
                <a href="../userPage/userInfo.html">회원정보</a>
                <ul>
                    <li>
                        <a href="#">회원 정보 관리</a>
                    </li>
                    <li>
                        <a href="#">메일,sns 수신 관리</a>
                    </li>
                </ul>
            </li>
            <li class="productInfo">
                <a href="../item/itemInfo.html">상품관리</a>
                <ul>
                    <li>
                        <a href="#">상품관리</a>
                    </li>
                </ul>
            </li>
            <li class="noticeInfo">
                <a href="#">게시판관리</a>
            </li>

        </ul>
    </header>


    <div id="contents">
        <ul class="topMenu">
            <li>
                <a href="/admin/user/userInfo">회원관리</a>
            </li>
            <li>
                <a href="/admin/user/addrList">배송지관리</a>
            </li>
            <li>
                <a href="/admin/user/couponList">쿠폰관리</a>
            </li>
        </ul>

        <table class="addressInfo">
            <caption>배송지 관리</caption>

            <tr>
                <th>배송지번호</th>
                <th>아이디</th>
                <th>배송지명</th>
                <th>수령인</th>
                <th>주소</th>
                <th>휴대전화</th>
                <th>기본 배송지</th>
            </tr>

            <tr th:each="addrList : ${addrList}">
                <td th:text="${addrList.addr_seq}"></td>
                <td th:text="${addrList.user_id}"><a href="#"></a></td>
                <td th:text="${addrList.addr_name}"> </td>
                <td th:text="${addrList.addr_reciver}"></td>
                <td th:text="'(' + ${addrList.addr_postcode} + ') ' + ${addrList.addr_addr} + ' ' + ${addrList.addr_addr2}"></td>
                <td th:text="${addrList.addr_phone}"></td>
                <td th:text="${addrList.addr_default}"></td>
            </tr>



        </table>


        <div class="pageNation">
            &lt;
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
            </ul>
            &gt;
        </div>

    </div>

</body>

</html>