<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/admin/userDetail.css" />
    <script defer src="../../javascript/index.js"></script>

    <title>회원 상세정보</title>
</head>

<body>

    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->
    <header id="headerTop">
        <div class="title">
            <a href="/home">
                <img id="logoImg" src="/img/1 logo.png">
            </a>
        </div>

        <ul class="list">
            <li class="dBoard">
                <a href="/admin/main">대시보드</a>
            </li>
            <li class="userInfo">
                <a href="/admin/user/userInfo">회원정보</a>
            </li>
            <li class="productInfo">
                <a href="/admin/item/itemInfo">상품관리</a>
            </li>
            <li class="noticeInfo">
                <a href="/admin/community/notice">게시판관리</a>
            </li>
        </ul>
    </header>


    <div id="contents">
        <ul class="topMenu">
            <li>
                <a href="/admin/user/userInfo">회원관리</a>
            </li>
            <li>
                <a href="/admin/user/addrList">배송지관리</a>
            </li>
            <li>
                <a href="/admin/user/couponList">쿠폰관리</a>
            </li>
        </ul>

        <div class="userInfoBox">
            <table class="userInfo">
                <caption>회원 정보</caption>

                <tr>
                    <th>아이디</th>
                    <td th:text="${userInfo.user_id}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${userInfo.user_name}"></td>
                </tr>
                <tr>
                    <th>e-mail</th>
                    <td th:text="${userInfo.user_email}"></td>
                </tr>
                <tr>
                    <th>e-amil 수신여부</th>
                    <td th:text="${userInfo.user_email_check}"></td>
                </tr>
                <tr>
                    <th>주소(기본 배송지)</th>
                    <td>경기 광주시 능평동 오포읍 423 (금강빌라?)</td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td th:text="${userInfo.user_phone}"></td>
                </tr>
                <tr>
                    <th>SNS 수신여부</th>
                    <td th:text="${userInfo.user_sns_check}"></td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td th:text="${userInfo.user_gen}"></td>
                </tr>
                <tr>
                    <th>생일</th>
                    <td th:text="${userInfo.user_birthday}"></td>
                </tr>
                <tr>
                    <th>추천인 아이디</th>
                    <td th:if="${userInfo.user_rid == null}" th:text="'없음'"></td>
                    <td th:if="${userInfo.user_rid != null}" th:text="${userInfo.user_rid}"></td>
                </tr>
            </table>
        </div>


        <div class="addressInfoBox">
            <table class="addressInfo">
                <caption>배송지 관리</caption>

                <tr>
                    <th>배송지번호</th>
                    <th>배송지명</th>
                    <th>수령인</th>
                    <th>휴대전화</th>
                    <th>주소</th>
                    <th>기본 배송지</th>
                </tr>

                <tr th:each="addrList : ${addrList}">
                    <td th:text="${addrList.addr_seq}"></td>
                    <td th:text="${addrList.addr_name}"></td>
                    <td th:text="${addrList.addr_reciver}"></td>
                    <td th:text="${addrList.addr_phone}"></td></td>
                    <td th:text="'(' + ${addrList.addr_postcode} + ') ' + ${addrList.addr_addr} + ' ' + ${addrList.addr_addr2}"></td>
                    <td th:text="${addrList.addr_default}"></td>
                </tr>


            </table>
        </div>

        <div class="couponInfoBox">
            <table class="couponInfo">
                <caption>쿠폰 관리</caption>

                <tr>
                    <th>쿠폰번호</th>
                    <th>쿠폰코드</th>
                    <th>쿠폰명</th>
                    <th>최소구매금액</th>
                    <th>쿠폰혜택</th>
                    <th>쿠폰수량</th>
                </tr>

                <tr th:each="couponList : ${couponList}">
                    <td th:text="${couponList.coupon_seq}"></td>
                    <td th:text="${couponList.coupon_code}"></td>
                    <td th:text="${couponList.coupon_name}"></td>
                    <td th:text="${couponList.coupon_buy}+'원'"></td>
                    <td th:text="${couponList.coupon_benefits}+'원'"></td>
                    <td th:text="${couponList.coupon_quantity}+'장'"></td>
                </tr>

            </table>
        </div>

        <div class="couponInfoBox">
            <table class="orderInfo">
                <caption>주문 관리</caption>

                <tr>
                    <th>주문일자</th>
                    <th>주문코드</th>
                    <th>상품명</th>
                    <th>최종 결제 금액</th>
                    <th>쿠폰 코드</th>
                    <th>결제수단</th>
                    <th>주문 처리상태</th>
                    <th>취소/교환/반품</th>
                </tr>

                <tr th:each="orderList : ${orderList}">
                    <td th:text="${orderList.order_date}"></td>
                    <td th:text="${orderList.order_code}"></td>
                    <td class="aLink">
                        <a th:href="@{/user/myPage/orderDetail(order_code=${orderList.order_code})}" th:text="${orderList.item_name} + ' 외 ' + ${orderList.order_count} + '건'"></a>
                    </td>
                    <td th:text="${orderList.order_price}+'원'"></td>
                    <td th:text="${orderList.coupon_code}"></td>
                    <td th:if="${orderList.order_payment == 'card'}" th:text="'카드'"></td>
                    <td th:if="${orderList.order_status == 'D'}" th:text="'배송준비중'"></td>
                    <td th:text="${orderList.order_claim == null ? '-' : orderList.order_claim  } "></td>
                </tr>

            </table>

            <div class="pageNation">
                &lt;
                <ul>
                    <li>
                        <a href="#">1</a>
                    </li>
                </ul>
                &gt;
            </div>
        </div>



    </div>

</body>

</html>