<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀글보기</title>
  <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../../../css/community/QnA/communityQnAPassword.css">
  <link rel="stylesheet" href="../../../../common/css/header.css" />
  <link rel="stylesheet" href="../../../../common/css/footer.css" />
  <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
  <script defer src="../../../../js/index.js"></script>

  <script th:inline="javascript">
    function validatePassword() {
      let password = document.getElementById("insert_password").value;
      let correctPassword = document.getElementById("qna_password").getAttribute("value");

      console.log(password);
      console.log(correctPassword);


      if (password != correctPassword) {
        alert("비밀번호가 올바르지 않습니다.");
        return false;
      } else {
        return true;
      }
    }
  </script>

</head>

<body>

<a class="toTop hidden_"> </a>

<!-- ---------------- <header> 모듈 ------------------ -->
<header th:replace="html/fragments/headerFooter :: header"></header>
<!-- ---------------- <header> 모듈 ------------------ -->

<article class="c_article">
  <div class="c_community_head">
    <div class="c_community_contents">COMMUNITY</div>
    <div class="c_page_catagory">
      <ul>
        <li><a href="/community/notice">NOTICE</a></li>
        <li><a href="/community/faq">FAQ</a></li>
        <li><a href="/community/QnA" class="c_Q_A">Q&amp;A</a></li>
        <li><a href="/community/review">REVIEW</a></li>
      </ul>
    </div>
  </div>
</article>
<form th:action="@{/community/qnaDetail}" method="post" onsubmit="return validatePassword();">
  <input type="hidden" th:name="qna_seq" th:value="${qnaPassword.qna_seq}">
  <input type="hidden" th:name="qna_password" th:value="${qnaPassword.qna_password}" id="qna_password">
  <input type="hidden" th:src="'../../../upload/' + ${Img1}">
  <input type="hidden" th:src="'../../../upload/' + ${Img2}">
  <div>
    <div class="c_warn">
      <div class="c_subtitle">비밀글 보기</div>
      <div class="c_content">
        <p>
          이 글은 비밀글 입니다. 비밀번호를 입력하여 주세요. <br>
        </p>
      </div>
      <div class="c_inputBox">
        <input type="password" maxlength="4"
               autocomplete="off" th:name="qna_password" id="insert_password">
      </div>
    </div>
    <div class="c_button">
      <a href="/community/QnA" class="c_list">목록으로</a>
      <input type="submit" value="확인">
    </div>
  </div>
</form>




</div>


<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->

</body>

</html>