<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주하는 질문</title>
    <link rel="stylesheet" href="../../../../common/css/header.css"/>
    <link rel="stylesheet" href="../../../../common/css/footer.css"/>
    <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
    <link rel="stylesheet" href="../../../../css/community/faq/communityFaq.css">
    <script defer src="../../../../js/community/faq/communityFaq.js"></script>
    <script defer src="../../../../js/index.js"></script>
</head>

<body>

<a class="toTop hidden_"> </a>


<!-- ---------------- <header> 모듈 ------------------ -->
<header th:replace="html/fragments/headerFooter :: header"></header>
<!-- ---------------- <header> 모듈 ------------------ -->

<article class="c_article">
    <div class="c_community_head">
        <div class="c_community_contents">COMMUNITY</div>
        <div class="c_page_catagory">
            <ul>
                <li><a href="/community/notice">NOTICE</a></li>
                <li><a href="#" class="c_faq">FAQ</a></li>
                <li><a href="/community/QnA">Q&A</a></li>
                <li><a href="/community/review">REVIEW</a></li>
            </ul>
        </div>
    </div>
</article>

<!------------------------------------- 아코디언 ---------------------------------------->
<div class="c_menucategory">
    <ul class="c_accordion">
        <li data-filter="전 체" class="c_selected"><a href="">전체</a></li>
        <li data-filter="주문/결제"><a th:href="@{faq?faq_datafilter=주문/결제}">주문/결제</a></li>
        <li data-filter="입금"><a th:href="@{faq?faq_datafilter=입금}">입금</a></li>
        <li data-filter="배송"><a th:href="@{faq?faq_datafilter=배송}">배송</a></li>
        <li data-filter="교환/반품"><a th:href="@{faq?faq_datafilter=교환/반품}">교환/반품</a></li>
        <li data-filter="회원"><a th:href="@{faq?faq_datafilter=회원}">회원</a></li>
    </ul>
</div>

<div class="c_noticed">
    <ul id="accordionWrap">

        <li th:each="list:${faqList}" th:if="${list.getCtgr_cd() == '0018'}" class="c_service_list c_hidden"
            data-filter="주문/결제">
            <p th:text="${list.getFaq_title()}" class="c_service_header order">&nbsp;비회원 주문시 주문취소 및 변경은 어떻게 하나요 ?
            <p th:text="${list.getFaq_content()}" class="c_service_body">비회원 주문의 경우 직접 취소 및 주문서 변경 처리가 어렵습니다. 비회원주문 후
                주문취소 및 주문서 변경을 원하실 경우 '상품 Q&A'
                으로 주문자이름
                ,
                휴대폰번호, 요청내용과 함께
                문의주시면 도와드리겠습니다.
                <br><br> *단, 이미 배송준비중일 경우에는 주문 취소가 불가합니다.
            </p>
        </li>

        <li th:each="list:${faqList}" th:if="${list.getCtgr_cd() == '0019'}" class="c_service_list c_hidden"
            data-filter="입금">
            <p th:text="${list.getFaq_title()}" class="c_service_header order">&nbsp;비회원 주문시 주문취소 및 변경은 어떻게 하나요 ?
            <p th:text="${list.getFaq_content()}" class="c_service_body">비회원 주문의 경우 직접 취소 및 주문서 변경 처리가 어렵습니다. 비회원주문 후
                주문취소 및 주문서 변경을 원하실 경우 '상품 Q&A'
                으로 주문자이름
                ,
                휴대폰번호, 요청내용과 함께
                문의주시면 도와드리겠습니다.
                <br><br> *단, 이미 배송준비중일 경우에는 주문 취소가 불가합니다.
            </p>
        </li>

        <li th:each="list:${faqList}" th:if="${list.getCtgr_cd() == '0020'}" class="c_service_list c_hidden"
            data-filter="배송">
            <p th:text="${list.getFaq_title()}" class="c_service_header order">&nbsp;비회원 주문시 주문취소 및 변경은 어떻게 하나요 ?
            <p th:text="${list.getFaq_content()}" class="c_service_body">비회원 주문의 경우 직접 취소 및 주문서 변경 처리가 어렵습니다. 비회원주문 후
                주문취소 및 주문서 변경을 원하실 경우 '상품 Q&A'
                으로 주문자이름
                ,
                휴대폰번호, 요청내용과 함께
                문의주시면 도와드리겠습니다.
                <br><br> *단, 이미 배송준비중일 경우에는 주문 취소가 불가합니다.
            </p>
        </li>

        <li th:each="list:${faqList}" th:if="${list.getCtgr_cd() == '0021'}" class="c_service_list c_hidden"
            data-filter="교환/반품">
            <p th:text="${list.getFaq_title()}" class="c_service_header order">&nbsp;비회원 주문시 주문취소 및 변경은 어떻게 하나요 ?
            <p th:text="${list.getFaq_content()}" class="c_service_body">비회원 주문의 경우 직접 취소 및 주문서 변경 처리가 어렵습니다. 비회원주문 후
                주문취소 및 주문서 변경을 원하실 경우 '상품 Q&A'
                으로 주문자이름
                ,
                휴대폰번호, 요청내용과 함께
                문의주시면 도와드리겠습니다.
                <br><br> *단, 이미 배송준비중일 경우에는 주문 취소가 불가합니다.
            </p>
        </li>

        <li th:each="list:${faqList}" th:if="${list.getCtgr_cd() == '0022'}" class="c_service_list c_hidden"
            data-filter="회원">
            <p th:text="${list.getFaq_title()}" class="c_service_header order">&nbsp;비회원 주문시 주문취소 및 변경은 어떻게 하나요 ?
            <p th:text="${list.getFaq_content()}" class="c_service_body">비회원 주문의 경우 직접 취소 및 주문서 변경 처리가 어렵습니다. 비회원주문 후
                주문취소 및 주문서 변경을 원하실 경우 '상품 Q&A'
                으로 주문자이름
                ,
                휴대폰번호, 요청내용과 함께
                문의주시면 도와드리겠습니다.
                <br><br> *단, 이미 배송준비중일 경우에는 주문 취소가 불가합니다.
            </p>
        </li>
    </ul>
</div>


</main>


<!------------------------------------- 게시판 끝 ---------------------------------------->

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->


</body>


</html>