<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/community/QnA/communityWrite.css">
    <link rel="stylesheet" href="../../../../common/css/header.css"/>
    <link rel="stylesheet" href="../../../../common/css/footer.css"/>
    <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
    <!--    <script defer src="../../../../js/community/QnA/communityWrite.js"></script>-->
    <script defer src="../../../../js/index.js"></script>

    <title>글 작성</title>
</head>

<body>

<a class="toTop hidden_"> </a>

<!-- ---------------- <header> 모듈 ------------------ -->
<header th:replace="html/fragments/headerFooter :: header"></header>
<!-- ---------------- <header> 모듈 ------------------ -->

<article class="c_article">
    <div class="c_community_head">
        <div class="c_community_contents">COMMUNITY</div>
        <div class="c_page_catagory">
            <ul>
                <li><a href="/community/notice">NOTICE</a></li>
                <li><a href="/community/faq">FAQ</a></li>
                <li><a href="/community/QnA" class="Q_A">Q&amp;A</a></li>
                <li><a href="/community/review">REVIEW</a></li>
            </ul>
        </div>
    </div>
</article>

<main>
    <form action="faqInsert" method="post" class="c_form">
        <ul class="c_ul">
            <li class="c_li">
                <ul class="c_underul">
                    <li class="c_underli_title">
                        제목
                    </li>
                    <li class="c_belowli">
                        <input th:text="${faqInsert.getFaq_title()}" name="faq_title" class="qna_title">
                    </li>
                </ul>
            </li>
            <li class="c_li">
                <ul class="c_underul">
                    <li class="c_underli">
                        <select name="QnA_type">
                            <option value="0018" th:text="${faqInsert.getCtgr_cd()}">[주문/결제]</option>
                            <option value="0019" th:text="${faqInsert.getCtgr_cd()}">[입금]</option>
                            <option value="0020" th:text="${faqInsert.getCtgr_cd()}">[배송]</option>
                            <option value="0021" th:text="${faqInsert.getCtgr_cd()}">[교환/반품]</option>
                            <option value="0022" th:text="${faqInsert.getCtgr_cd()}">[회원]</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li class="c_li">
                <ul class="c_underul">
                    <li class="textarea_li">
                        <textarea th:text="${faqInsert.getFaq_content()}" name="faq_content" id="" cols="30" rows="10"
                                  placeholder="내용을 입력해주세요"
                                  oninvalid="this.setCustomValidity(' ')" required></textarea>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="c_button">
            <a href="/community/faq" class="list">목록으로</a>
            <button type="submit" class="confirm">등록</button>
        </div>
    </form>
    </div>

</main>

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->

</body>


</html>