<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../common/css/indexCommon.css" />
    <link rel="stylesheet" href="../../../../css/order/orderAddress.css">
    <script defer src="../../../../js/order/orderAddress.js"></script>
    <script defer src="../../../../js/index.js"></script>
    <script src="/js/jquery/jquery-3.6.3.min.js"></script>

    <title>paymentAddress</title>
</head>

<body>

    <div class="myPageContainer">

        <div class="myPageAddressContainer">
            <h2>배송 주소록 관리</h2>

            <table>
                <thead>
                    <tr>
                        <td class="inputBox">
                            선택
                        </td>
                        <!-- <td>수령인</td> -->
                        <td>주소</td>
                        <td>수정</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="addrList : ${addrList}">
                        <td class="inputBox">
                            <div class="checkBox">
                                <input type="radio" name="agreeCheck" th:value="${addrList.addr_seq}" th:id="checkbox+${addrListStat.count}" class="checkedCheck" />
                                <label th:for="checkbox+${addrListStat.count}" class="checkedCheck"></label>
                            </div>
                            <input type="hidden" th:name="${addrList.addr_default}" class="addrCheck" value="Y" />
                        </td>
                        <!-- <td>아카데미</td> -->
                        <td th:text="'(' + ${addrList.addr_postcode} + ') ' + ${addrList.addr_addr} + ' ' + ${addrList.addr_addr2}"></td>
                        <td>
                            <a th:href="@{/user/myPage/addrUpdate(addr_seq=${addrList.addr_seq})}" target="_blank">
                                <img src="../../../img/icon/addressUpdate.png" alt="update">
                            </a>
                        </td>
                    </tr>




                </tbody>

            </table>

            <div class="noAddress">
                <p>
                    등록된 주소가 없어요..
                </p>
            </div>

            <div class="choiceButton">
                <button th:onclick="'addrUpdate()'">배송지 선택</button>
                <a href="user/myPage/addrInsert">배송지 추가</a>
            </div>


        </div>
    </div>
</body>

</html>