* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}


nav {
  width: 80%;
  margin: auto;
}

main {
  width: 100%;
  margin: auto;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBMPlexSansKR-Regular';
}

.c_community_head {
  color: #477A7B;
  font-weight: bolder;
  font-size: 2rem;
}

.c_community_contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_page_catagory>ul {
  padding-bottom: 30px;
}

.c_page_catagory>ul {
  margin-top: 40px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.c_page_catagory li {
  display: flex;
  width: 10%;
  justify-content: center;
}

.c_page_catagory li a {
  font-size: initial;
  color: #477A7B;
  text-decoration: none;
  text-align: center;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  background-color: white;
}

.c_page_catagory li .notice {
  background-color: #477A7B;
  color: white;
}

.c_page_catagory li a:hover {
  background-color: #477A7B;
  color: white;
}

.c_article {
  margin: 50px 0px 30px;
  display: flex;
  flex-direction: column;
}

.c_pageTitle {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: #477A7B;
}

.c_date_created {
  font-size: initial;
  width: 55%;
  text-align: center;
  color: #477A7B;
  padding-bottom: 40px;
  margin: 30px auto;
  border-bottom: 1px solid #477A7B;
}

.c_detail {
  font-size: initial;
  width: 55%;
  word-wrap: break-word;
  margin: 0 auto;
}

.c_button {
  margin-top: 300px;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 90%;
  text-align: right;
}

.c_button a {
  font-size: initial;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  color: black;
}

@media screen and (max-width: 1024px) {
  .c_page_catagory ul {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .c_page_catagory li a {
    font-size: 12px;
  }
}