* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6b6b6b;
}



.myPageRegisterContainer {
    transform: translateY(20%);
    width: 550px;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid #dfe9e8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}


.myPageRegisterContainer>h2 {
    color: #BAAAD7;
    font-size: 30px;
    margin: 40px 0;
    text-align: center;
}




/* 인풋 넘버 위아래 버튼 지우는 속성 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 파이어폭스에서의 초기화 방법 */
input[type=number] {
    -moz-appearance: textfield;
}



/* 체크박스 버튼 커스텀 */
.checkBox {
    position: relative;
    display: block;
}

.checkBox li {
    display: flex;
    margin-top: 15px;
}

.checkBox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checkBox input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkBox input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    left: 8px;
    bottom: -5px;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #BAAAD7;
opacity: 0.4;
    color: #d8d8d8;
    border-radius: 2px;
    box-shadow: none;
}

.checkBox input[type="checkbox"]:checked+label:before {
    width: 18px;
    height: 18px;
    background: #BAAAD7;
    border: 0;
}

.checkBox input[type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    font-size: 12px;
    left: 12px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    color: #fff;
    border-radius: 2px;
    box-shadow: none;
}

/* ----------------------------------------------- */
























.registerForm {
    max-width: 400px;
    margin: 0 auto;
}

.registerForm .registerTitle {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.registerForm fieldset {
    border: 0;
}

.registerForm .ulContainer>li {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    margin-bottom: 25px;
}

.registerForm .ulContainer li input {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    outline: 0;
    border: 0;
    background-color: rgba(186,170,216,0.2);
    box-sizing: border-box;
    color: #BAAAD7;
}

.registerForm .ulContainer li input::placeholder {
    color: #b4b4b4
}

.registerForm .ulContainer>li>label {
    width: 20%;
    font-size: 12px;
    color: #222;
}






.registerForm .ulContainer li.phone .phoneBox {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registerForm .ulContainer li.phone .phoneBox .inputBox{
    width:100%;
}

.registerForm .ulContainer li.phone .phoneBox span {
    line-height: 40px;
}

.registerForm .ulContainer li.phone input {
    width: 100%;
    display: inline-block;
}




.registerForm .ulContainer li.address .addressBox{
    width:80%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.registerForm .ulContainer li.address .addressBox input{
    width:100%;
}

.registerForm .ulContainer li.address .addressBox .postBox{
    display:flex;
}
.registerForm .ulContainer li.address .addressBox .postBox input:nth-child(1){
    width:30%;
    margin-right:10px;
}
.registerForm .ulContainer li.address .addressBox .postBox input:nth-child(2){
    width:40%;
    padding-left:0;
    cursor: pointer;
}





.registerForm .registerSubmit {
    display: flex;
    margin: 50px 0;
}

.registerForm .registerSubmit button,
.registerForm .registerSubmit a {
    width: 50%;
    font-size: 17px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
}

.registerForm .registerSubmit button {
    background-color: #BAAAD7;
    border: 0;
    color: white;
}

.registerForm .registerSubmit a {
    background-color: #fff;
    color: #BAAAD7;
    border: 1px solid #BAAAD7;
}