* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6b6b6b;
}



.myPageModifyContainer {
    max-width: 1024px;
    background-color: white;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 50px;
    border: 1px solid #dfe9e8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}


.myPageModifyContainer>h2 {
    color: #BAAAD7;
    font-size: 30px;
    margin: 40px 0;
    text-align: center;
}




/* 인풋 넘버 위아래 버튼 지우는 속성 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 파이어폭스에서의 초기화 방법 */
input[type=number] {
    -moz-appearance: textfield;
}




/* 라디오 버튼 커스텀 */
.checkBox {
    position: relative;
}

.checkBox label {
    display: inline-block;
    font-size: 15px !important;
    cursor: pointer;
}

.checkBox input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checkBox input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkBox input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 8px;
    bottom: -4px;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #BAAAD7;
opacity: 0.4;
    border-radius: 100%;
    box-shadow: none;
}

.checkBox input[type="radio"]:checked+label:before {
    background: #fff;
    border-color: #BAAAD7;
}

.checkBox input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    left: 8px;
    bottom: -4px;
    width: 18px;
    height: 18px;
    background: #BAAAD7;
    border-radius: 100%;
    box-shadow: none;
}



.checkBox {
    display: flex;
}


























.modifyForm {
    max-width: 500px;
    margin: 0 auto;
}

.modifyForm .joinTitle {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.modifyForm fieldset {
    border: 0;
}

.modifyForm .ulContainer>li {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    margin-bottom: 25px;
}

.modifyForm .ulContainer li input {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    outline: 0;
    border: 0;
    background-color: rgba(186,170,216,0.2);
    box-sizing: border-box;
    color: #BAAAD7;
    outline: 0;
}

.modifyForm .ulContainer li input::placeholder {
    color: #b4b4b4
}

.modifyForm .ulContainer>li>label {
    width: 20%;
    font-size: 12px;
    color: #222;
}

.modifyForm .ulContainer li .cover,
.modifyForm .ulContainer li>.inputBox {
    width: 80%;
}

.modifyForm .ulContainer li>.inputBox input {
    width: 100%;
}

.modifyForm .ulContainer li.authMember {
    position: relative;
    flex-wrap: wrap;
    text-align: left;
    line-height: 25px;
}

.modifyForm .ulContainer li.authMember span {
    color: #BAAAD7;
    font-size: 12px;
    letter-spacing: -1px;
}

.modifyForm .ulContainer li.authMember span:first-of-type {
    font-size: 15px;
}

.modifyForm .ulContainer li.authMember button {
    width: 100%;
    border: 0;
    background-color: #BAAAD7;
    color: #fff;
    line-height: 35px;
    margin: 10px 0;
}

.modifyForm .ulContainer li.authMember p {
    font-size: 14.5px;
    letter-spacing: -1px;
}


.modifyForm .ulContainer li.password,
.modifyForm .ulContainer li.sms,
.modifyForm .ulContainer li.emailCheck {
    flex-wrap: wrap;
}

.modifyForm .ulContainer li p.tip {
    display: block;
    font-size: 10px;
    color: #b4b4b4;
    letter-spacing: -0.5px;
    margin-left: 20%;
    line-height: 20px;
}

.modifyForm .ulContainer li div.inputBox p,
.modifyForm .ulContainer li div.phoneBox p {
    font-size: 10px;
    display: flex;
    gap: 5px;
    color: crimson;
    display: none;
    line-height: 15px;
}


.modifyForm .ulContainer li.address .addressBox{
    width:80%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.modifyForm .ulContainer li.address .addressBox input{
    width:100%;
}

.modifyForm .ulContainer li.address .addressBox .postBox{
    display:flex;
}
.modifyForm .ulContainer li.address .addressBox .postBox input:nth-child(1){
    width:30%;
    margin-right:10px;
}
.modifyForm .ulContainer li.address .addressBox .postBox input:nth-child(2){
    width:30%;
    padding-left:0;
    cursor: pointer;
}




.modifyForm .ulContainer li.phone .phoneBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.modifyForm .ulContainer li.phone .phoneBox .inputBox {
    display: flex;
    height: 40px;
    line-height: 40px;
}

.modifyForm .ulContainer li.phone .phoneBox .inputBox input{
    width:100%;
}

.modifyForm .ulContainer li.gender{
    justify-content: flex-start;
}

.modifyForm .ulContainer li.birth .birthBox {
    display: flex;
    width: 80%;
}

.modifyForm .ulContainer li.birth .birthBox input {
    text-align: right;
    padding-right: 5px;
}

.modifyForm .ulContainer li.birth .birthBox span {
    vertical-align: bottom;
}







/* 반려동물 추가정보 */
/*
.modifyForm .moreInformation {
    margin-top: 100px;
}

.modifyForm .moreInformation li>div {
    display: flex;
}

.modifyForm .moreInformation li select {
    display: block;
}

.modifyForm .moreInformation li.petBirth .birthBox {
    display: flex;
}

.modifyForm .moreInformation li.petBirth .birthBox input {
    text-align: right;
    padding-right: 5px;
}

.modifyForm .moreInformation li.petBirth .birthBox span {
    vertical-align: bottom;
}

.modifyForm .moreInformation li.petImg input {
    border: 0;
    align-self: center;
}

.modifyForm .moreInformation li.petInfo .petInfoCover {
    width: 80%;
    flex-direction: column;
}

.modifyForm .moreInformation li.petInfo .petInfoCover .petInfoBox li {
    margin-bottom: 0;
}

.modifyForm .moreInformation li.petInfo .petInfoCover select {
    width: 100%;
    height: 40px;
    border: 0;
    padding-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #BAAAD7;
    background-color: rgba(186,170,216,0.2);
    display: none;
    outline: 0;
}
*/













.modifyForm .modifySubmit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modifyForm .modifySubmit button,
.modifyForm .modifySubmit a{
    width: 70%;
    padding: 16px 0;
    font-size: 17px;
}

.modifyForm .modifySubmit button {
    background-color: #BAAAD7;
    border: 0;
    margin-top: 50px;
    color: white;
}

.modifyForm .modifySubmit a {
    display:block;
    background-color: #fff;
    color: #BAAAD7;
    border: 1px solid #BAAAD7;
    box-sizing: border-box;
    text-align: center;
}