/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6b6b6b;
}

/* ----------------------------------------------- */





/* 로그인 전체 박스 마진 */
#contents {
    margin: 200px 0;
}

/* ----------------------------------------------- */



/* 상단 타이틀  */
.title {
    text-align: center;
    color: #477A7B;
    margin-bottom: 50px;
}

/* ----------------------------------------------- */





/* 로그인 폼 */
.loginForm {
    width: 335px;
    margin: 0 auto;
}

.loginForm fieldset {
    border: 0;
}

.loginForm .loginContainer li {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    margin-bottom: 25px;
}

.loginForm .loginContainer li input {
    width: 245px;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 10px;
    outline: 0;
    font-size: 13px;
    color: #477A7B;
}

.loginForm .loginContainer li label {
    font-size: 13px;
    color: #222;
}

.loginForm .loginContainer li:last-child button {
    width: 100%;
    padding: 16px 0;
    color: white;
    background-color: #477A7B;
    border: 0;
    border-radius: 5px;
}

/* ----------------------------------------------- */





/* 아이디찾기,비밀번호찾기, 비회원 주문조회 */
.loginForm .loginUtil {
    display: flex;
    justify-content: space-between;
}

.loginForm .loginUtil a {
    font-size: 13px;
    text-decoration: underline;
    letter-spacing: -1px;
}

.loginForm .loginUtil a:nth-child(1) {
    margin-right: 10px;
}

/* ----------------------------------------------- */



/* 회원가입 버튼 */
.loginForm .join {
    margin-top: 50px;
}

.loginForm .join a {
    display: block;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    color: #222;
}

/* ----------------------------------------------- */