<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰</title>
  <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../../../community/css/review/communityReview.css">
  <link rel="stylesheet" href="../../../../community/css/review/communityReviewPopup.css">
  <script defer src="../../../../community/js/review/communituReviewPopup.js"></script>
  <link rel="stylesheet" href="../../../../common/css/header.css" />
  <link rel="stylesheet" href="../../../../common/css/footer.css" />
   <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
  <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
  <script defer src="../../../../js/index.js"></script>


</head>

<body>

  <a class="toTop hidden_"> </a>

  <!-- ---------------- <header> 모듈 ------------------ -->
  <header th:replace="html/fragments/headerFooter :: header"></header>
  <!-- ---------------- <header> 모듈 ------------------ -->

  <article class="c_article">
    <div class="c_community_head">
      <div class="c_community_contents">COMMUNITY</div>
      <div class="c_page_catagory">
        <ul>
          <li><a href="/community/notice">NOTICE</a></li>
          <li><a href="/community/faq">FAQ</a></li>
          <li><a href="/community/QnA">Q&amp;A</a></li>
          <li><a href="/community/review" class="review">REVIEW</a></li>
        </ul>
      </div>
    </div>
  </article>
  <main>
    <div>
      <div class="c_goodshead">상품후기</div>
      <ul class="c_goodsinfo">
        <li th:each="list:${reviewList}">
          <div class="c_img_container">
            <img th:text="${list.getAttachment_file_seq()}" src="../../../../img/community/review/goods_info.jpg" alt="">
          </div>
          <div>
            <a th:text="${list.getReview_content()}" href="">고객님의 소중한 후기입니다.</a>
            <a th:text="${list.getUser_id()}" href="" class="c_username">c**</a>
          </div>
          <div class="c_review_target">
            <img th:text="${list.getAttachment_file_seq()}" src="../../../../img/community/review/goodspic.jpg" alt="" class="c_review_targetimg">
            <div>
              <a th:text="${list.getReview_title()}" href="../../item/itemDetails.html">오가닉거즈 손가락칫솔</a>
              <div class="c_user_rank">
                <span>리뷰
                  <strong>46</strong>
                </span>
                <span>평점</span>
                <strong th:text="${list.getReview_rank()}">9.4</strong>
              </div>
            </div>
          </div>
        </li>
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/goods_info.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/goodspic.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">오가닉거즈 손가락칫솔</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>46</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.4</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/goods_info.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/goodspic.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">오가닉거즈 손가락칫솔</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>46</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.4</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/goods_info.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/goodspic.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">오가닉거즈 손가락칫솔</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>46</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.4</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/goods_info.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/goodspic.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">오가닉거즈 손가락칫솔</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>46</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.4</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>

    <div class="c_reviewhead">리뷰</div>
    <hr class="c_reviewhr">

    <div class="c_reviewtools">
      <form class="c_search_bar" action="">
        <input class="input_search" type="search" maxlength="20" required>
        <i class="fa-sharp fa-solid fa-magnifying-glass c_search"></i>
      </form>
      <div class="c_reviewtoolsleft">
        <div class="new"><a href="">최신순</a></div>
        <div class="best"><a href="">추천순</a></div>
      </div>
    </div>

    <div class="c_write"><a href="./community_review_write.html">글 쓰기</a></div>

    <div class="c_reviewlist">
      <ul>
        <li th:each="list:${reviewList}">
          <div class="c_img_container">
            <img th:text="${list.getAttachment_file_seq()}" class="img" src="../../../../img/community/review/reviewpic.jpg" alt="">
          </div>
          <div>
            <a th:text="${list.getReview_content()}" href="">고객님의 소중한 후기입니다.</a>
            <a th:text="${list.getUser_id() }" href="" class="c_username">c**</a>
          </div>
          <div class="c_review_target">
            <img th:text="${list.getAttachment_file_seq()}" src="../../../../img/community/review/reviewpicsmall.jpg" alt="" class="c_review_targetimg">
            <div>
              <a th:text="${list.getReview_title()}" href="../../item/itemDetails.html">[BEST] 워킹 세이프 스프레이</a>
              <div class="c_user_rank">
                <span>리뷰
                  <strong >46</strong>
                </span>
                <span>평점</span>
                <strong th:text="${list.getReview_rank()}">9.4</strong>
              </div>
            </div>
          </div>
        </li>
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>115</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.7</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../../item/itemDetails.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>76</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.2</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>152</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.8</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>87</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.6</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>11</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.6</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>26</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>8.7</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>59</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.1</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>99</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.3</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>76</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.2</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>132</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.7</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="c_img_container">-->
<!--            <img src="../../image/arr/reviewpic.jpg" alt="">-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="">고객님의 소중한 후기입니다.</a>-->
<!--            <a href="" class="c_username">c**</a>-->
<!--          </div>-->
<!--          <div class="c_review_target">-->
<!--            <img src="../../image/arr/reviewpicsmall.jpg" alt="" class="c_review_targetimg">-->
<!--            <div>-->
<!--              <a href="../Product/product_shopping_details.html">[BEST] 워킹 세이프 스프레이</a>-->
<!--              <div class="c_user_rank">-->
<!--                <span>리뷰-->
<!--                  <strong>87</strong>-->
<!--                </span>-->
<!--                <span>평점</span>-->
<!--                <strong>9.1</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->

    </div>

    <div class="c_page">
      <p>&lt;</p>
      <a href=""><strong>1</strong></a>
      <a href="">2</a>
      <a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
      <p>&gt;</p>
    </div>
  </main>

  <div class="popup_page">

    <div class="picture_section">
      <div class="review_pic_large">
        <img src="../../../../img/community/review/reviewpicsmall.jpg">
      </div>

      <div class="review_pic_small">
        <ul class="review_attachment">
          <li class="review_file1"><img src="../../../../img/community/review/reviewpic.jpg"></li>
          <li class="review_file2"><img src="../../../../img/community/review/reviewpic.jpg"></li>
          <li class="review_file3"><img src="../../../../img/community/review/reviewpic.jpg"></li>
        </ul>
      </div>
    </div>

    <div class="content_section">
      <div class="review_head">
        <div class="item_link">
          <div class="pic_section">
            <img th:text="${reviewDetail.get}" src="../../../../img/community/review/reviewpic.jpg" class="item_pic">
          </div>
          <a href="../../item/itemDetails.html" class="item_detail">
            <div class="title">
              오가닉거즈 손가락칫솔
            </div>
            <div>
              <span class="review">리뷰</span>
              <span  class="rank">평점</span>
            </div>
          </a>
        </div>
        <div class="close-area"><i class="fa-solid fa-x"></i></div>
      </div>
      <hr>

      <div class="review_body">

        <div  class="score_section">
          아주 좋아요
        </div>

        <div class="customer_section">
          사용자 정보

        </div>

        <div class="review_detail">
          고객님의 소중한 후기입니다
        </div>
        <div class="review_reply">
          <span>댓글</span>
          <span>1</span>
          <i class="fa-solid fa-caret-down"></i>
          <i class="fa-solid fa-caret-up"></i>
          <div  class="replyContent">
            Aliqua veniam irure enim non esse in exercitation. Incididunt exercitation cupidatat consectetur commodo
            commodo magna est et cillum deserunt cillum irure sunt duis. Eiusmod enim quis velit sunt cupidatat nostrud
            ad non. Deserunt aliqua qui aliquip enim et irure culpa mollit cillum. Ea non proident ut culpa excepteur
            minim proident officia culpa ut. Proident et amet minim tempor et commodo anim adipisicing nulla. Laborum
            nulla anim proident minim laborum Lorem commodo nulla laborum minim esse.
          </div>
        </div>

        <hr>
        <div class="review_other">
          <div>이 상품의 다른 리뷰</div>


        </div>

      </div>



    </div>
  </div>


</body>
<div class="footerTop">
  <a href="../../common/clause.html"> 이용약관 </a>
  |
  <a href="#"> 개인정보처리방침 </a>
  |
  <a href="#"> 이용안내 </a>
</div>
<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->


</html>