<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰</title>
  <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../../../css/community/review/communityReview.css">
  <link rel="stylesheet" href="../../../../css/community/review/communityReviewPopup.css">
  <script src="../../../../js/jquery/jquery-3.6.3.min.js"></script>
  <script defer src="../../../../js/community/review/communityReview.js"></script>
  <link rel="stylesheet" href="../../../../common/css/header.css" />
  <link rel="stylesheet" href="../../../../common/css/footer.css" />
   <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
  <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
  <script defer src="../../../../js/index.js"></script>

</head>

<body>

<script th:inline="javascript">
  $(function() {
    // 1) SearchType 이 '전체' 면 keyword 클리어
    $('#searchType').change(function () {
      if ($(this).val() == 'n') $('#keyword').val('');
    });

    $('#reviewBtn').click(function () {
      self.location = '/community/review?currPage=1&rowsPerPage=9'
              + '&searchType=' + $('#searchType').val()
              + '&keyword=' + $('#keyTest').val();
    }); //click
  });

</script>

  <a class="toTop hidden_"> </a>

  <!-- ---------------- <header> 모듈 ------------------ -->
  <header th:replace="html/fragments/headerFooter :: header"></header>
  <!-- ---------------- <header> 모듈 ------------------ -->

  <article class="c_article">
    <div class="c_community_head">
      <div class="c_community_contents">COMMUNITY</div>
      <div class="c_page_catagory">
        <ul>
          <li><a href="/community/notice">NOTICE</a></li>
          <li><a href="/community/faq">FAQ</a></li>
          <li><a href="/community/QnA">Q&amp;A</a></li>
          <li><a href="/community/review" class="review">REVIEW</a></li>
        </ul>
      </div>
    </div>
  </article>
  <main>
    <div>
<!--      <div class="c_goodshead">상품후기</div>-->
    </div>

<!--    <hr class="c_reviewhr">-->

    <div class="c_reviewtools">
        <select name="searchType" id="searchType">
          <option value="n" th:selected="${pageNation.cri.searchType==null}">전체</option>
          <option value="t" th:selected="${pageNation.cri.searchType=='t'}">Title</option>
          <option value="i" th:selected="${pageNation.cri.searchType=='i'}">ID(글쓴이)</option>
          <option value="r" th:selected="${pageNation.cri.searchType=='r'}">RegDate</option>
        </select>
        <input type="text" name="keyword" id="keyTest" th:value="${pageNation.cri.keyword}">
        <button id="reviewBtn"></button>
<!--        <input class="input_search" type="search" maxlength="20" required>-->
<!--        <i class="fa-sharp fa-solid fa-magnifying-glass c_search" id="searchBtn></i>-->
      <div class="c_reviewtoolsleft">
        <div class="c_write"><a href="/community/reviewInsert">글쓰기</a></div>
      </div>
    </div>


    <div class="c_reviewlist">
      <ul>
        <li th:each="list:${reviewList}">
          <div th:text="${list.getReview_seq()}" style="display: none"></div>
          <div class="c_img_container">
            <a th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}" class="clickImg">
              <img th:src="'../../../upload/' + ${list.getAttachment_name()}" alt="1번">
            </a>
          </div>
          <div>
            <a th:text="${list.getReview_content()}" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}">고객님의 소중한 후기입니다.</a>
            <a th:text="${list.getReview_title()}" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}" >[BEST] 워킹 세이프 스프레이</a>
          </div>
          <div class="c_review_target">
            <img th:src="'../../../upload/' + ${list.getAttachment_name()}" style="border-radius: 50%" alt="2번" class="c_review_targetimg">
            <div>
              <a th:text="${list.getUser_id() }" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}">c**</a>
              <div class="c_user_rank">
                <span>평점</span>
                <strong th:text="${list.review_rank}">9.4</strong>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="c_page">
      <div th:if="${pageNation.prev and pageNation.spageNo > 1}">
        <a href="review?currPage=1&rowsPerPage=9"><<</a>&nbsp;
        <a th:href="@{review?currPage={i}&rowsPerPage=9(i=${pageNation.spageNo-1})}">&lt;</a>&nbsp;&nbsp;
      </div>
      <div th:unless="${pageNation.prev and pageNation.spageNo > 1}">
        <font color="Gray"><<&nbsp;&lt;&nbsp;&nbsp;</font>
      </div>
      <!--Display PageNo-->
      <div th:each="i : ${#numbers.sequence(pageNation.spageNo, pageNation.epageNo)}">
        <div th:if="${i == pageNation.cri.currPage}">
          <font size="initial" color="#8E83A9" th:text="${i}"></font>&nbsp;
        </div>
        <div th:unless="${i == pageNation.cri.currPage}">
          <a th:href="@{review?currPage={i}&rowsPerPage=9(i=${i})}" th:text="${i}"></a>&nbsp;
        </div>
      </div>
      <!--Next, LastPage-->
      <div th:if="${pageNation.next and pageNation.epageNo > 0}">
        <a th:href="@{review?currPage={i}&rowsPerPage=9(i=${pageNation.epageNo+1})}">&nbsp;&gt;</a>
        <a th:href="@{review?currPage={i}&rowsPerPage=9(i=${pageNation.lastPageNo})}">&nbsp;>></a>

      </div>
      <div th:unless="${pageNation.next and pageNation.epageNo > 0}">
        <font color="Gray">&nbsp;&gt;&nbsp;>></font>
      </div>
    </div>

      </div>
    </div>

  </main>


</body>

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->


</html>