<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 팝업창</title>
    <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../../css/community/review/communityReview.css">
    <link rel="stylesheet" href="../../../../css/community/review/communityReviewPopup.css">
    <link rel="stylesheet" href="../../../../common/css/header.css" />
    <link rel="stylesheet" href="../../../../common/css/footer.css" />
    <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
    <script src="https://kit.fontawesome.com/32d3a53583.js" crossorigin="anonymous"></script>
    <script defer src="../../../../js/community/review/communituReviewPopup.js"></script>
    <script defer src="../../../../js/index.js"></script>
</head>
<body>

<div id="popup_page" class="popup_page">

    <div class="picture_section">
        <div class="review_pic_large">
            <img src="../../../../img/community/review/reviewpicsmall.jpg">
        </div>

        <div class="review_pic_small">
            <ul class="review_attachment">
                <li class="review_file1"><img src="../../../../img/community/review/reviewpic.jpg"></li>
                <li class="review_file2"><img src="../../../../img/community/review/reviewpic.jpg"></li>
                <li class="review_file3"><img src="../../../../img/community/review/reviewpic.jpg"></li>
            </ul>
        </div>
    </div>

    <div class="content_section">
        <div class="review_head">
            <div class="item_link">
                <div class="pic_section">
                    <img th:text="${reviewDetail.getReview_title()}" id="review_title" src="../../../../img/community/review/reviewpic.jpg" class="item_pic">
                </div>
                <a href="../../item/itemDetails.html" class="item_detail">
                    <div class="title">
                        오가닉거즈 손가락칫솔
                    </div>
                    <div>
                        <span class="review">리뷰</span>
                        <span th:text="${reviewDetail.getReview_rank()}" id="review_rank" class="rank">평점</span>
                    </div>
                </a>
            </div>
            <div class="closearea"><i class="fa-solid fa-x"></i></div>
        </div>
        <hr>

        <div class="review_body">

            <div th:text="${reviewDetail.getUser_id()}" id="user_id" class="customer_section">
                사용자 정보
            </div>

            <div th:text="${reviewDetail.getReview_content()}" id="review_content" class="review_detail">
                고객님의 소중한 후기입니다
            </div>
            <div class="review_reply">
                <span>댓글</span>
                <span>1</span>
                <i class="fa-solid fa-caret-down"></i>
                <i class="fa-solid fa-caret-up"></i>
                <div  class="replyContent">
                    Aliqua veniam irure enim non esse in exercitation. Incididunt exercitation cupidatat consectetur commodo
                    commodo magna est et cillum deserunt cillum irure sunt duis. Eiusmod enim quis velit sunt cupidatat nostrud
                    ad non. Deserunt aliqua qui aliquip enim et irure culpa mollit cillum. Ea non proident ut culpa excepteur
                    minim proident officia culpa ut. Proident et amet minim tempor et commodo anim adipisicing nulla. Laborum
                    nulla anim proident minim laborum Lorem commodo nulla laborum minim esse.
                </div>
            </div>

            <hr>
            <div class="review_other">
                <div>이 상품의 다른 리뷰</div>


            </div>

        </div>



    </div>
</div>


</body>
</html>