<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../css/community/review/communityReviewWrite.css">
  <script defer src="../../../../js/community/review/communityReviewWrite.js"></script>
  <link rel="stylesheet" href="../../../../common/css/header.css" />
  <link rel="stylesheet" href="../../../../common/css/footer.css" />
  <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
  <script defer src="../../../../js/index.js"></script>


  <title>글 작성</title>
</head>

<body>

  <a class="toTop hidden_"> </a>

  <!-- ---------------- <header> 모듈 ------------------ -->
  <header th:replace="html/fragments/headerFooter :: header"></header>
  <!-- ---------------- <header> 모듈 ------------------ -->

  <article class="c_article">
    <div class="c_community_head">
      <div class="c_community_contents">COMMUNITY</div>
      <div class="c_page_catagory">
        <ul>
          <li><a href="/community/notice">NOTICE</a></li>
          <li><a href="/community/faq">FAQ</a></li>
          <li><a href="/community/QnA">Q&amp;A</a></li>
          <li><a href="/community/review" class="c_review">REVIEW</a></li>
        </ul>
      </div>
    </div>
  </article>

  <main>
    <form action="reviewInsert" method="post" class="c_form">
      <ul class="c_ul">
        <li class="c_li">
          <ul class="c_underul">
            <li class="c_underli_title">
              제목
            </li>
            <li class="c_belowli">
              <input th:text="${reviewInsert.getReview_title()}" name="review_title" class="qna_title">
            </li>
          </ul>
        </li>
        <li class="c_li">
          <ul class="c_underul">
            <li class="textarea_li">
                        <textarea th:text="${reviewInsert.getReview_content()}" name="review_content" id="" cols="30" rows="10"
                                  placeholder="내용을 입력해주세요"
                                  oninvalid="this.setCustomValidity(' ')" required></textarea>
            </li>
          </ul>
        </li>

        <li class="c_li">
          <ul class="c_underul">
            <li th:value="${reviewInsert.getReview_attachment1()}" class="c_underli"> 첨부파일1</li>
            <li class="files"><input type="file"></li>
          </ul>
        </li>
        <li class="c_li">
          <ul class="c_underul">
            <li th:value="${reviewInsert.getReview_attachment2()}" class="c_underli"> 첨부파일2 </li>
            <li><input type="file"></li>
          </ul>
        </li>
        <li class="c_li">
          <ul class="c_underul">
            <li th:value="${reviewInsert.getReview_attachment3()}" class="c_underli"> 첨부파일3 </li>
            <li><input type="file"></li>
          </ul>
        </li>
        <li class="c_li">
          <ul class="c_underul">
            <li class="c_underli">
              아이디
            </li>
            <li>
              <input th:value="${session.loginID}" readonly>
            </li>
          </ul>
        </li>
        <li class="c_li">
          <ul class="c_underul">
            <li class="c_underli">
              평점
            </li>
            <li>
              <select th:value="${reviewInsert.getReview_rank()}" name="review_rank">
                <option value="1.0">1점</option>
                <option value="2.0">2점</option>
                <option value="3.0">3점</option>
                <option value="4.0">4점</option>
                <option value="5.0">5점</option>
                <option value="6.0">6점</option>
                <option value="7.0">7점</option>
                <option value="8.0">8점</option>
                <option value="9.0">9점</option>
                <option value="10.0">10점</option>
              </select>
            </li>
          </ul>
        </li>
      </ul>

      <div class="c_button">
        <a href="/community/review" class="list">목록으로</a>
        <button type="submit" class="confirm">등록</button>
      </div>
    </form>

  </main>

</body>

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->




</html>