<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>HOME</title>
    <link rel="stylesheet" href="../common/css/header.css"/>
    <link rel="stylesheet" href="../common/css/footer.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../common/css/indexCommon.css">
    <script src="/js/jquery/jquery-3.6.3.min.js"></script>
<!--    <script src="/js/header.js"></script>-->
    <script defer src="/js/index.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/sub.js"></script>
    <!-- <script src="./COMMON/Header/Javascript/header.js"></script> -->
    <script src="https://kit.fontawesome.com/820cd623a1.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- ---------------- 버튼 ------------------ -->
<a class="toTop hidden_" href="#"> </a>
<!-- ---------------- 버튼 ------------------ -->

<!-- ---------------- <header> 모듈 ------------------ -->
<header th:replace="html/fragments/headerFooter :: header"></header>
<!-- ---------------- <header> 모듈 ------------------ -->

<!--------------------- <main> 시작 --------------------->
<main class="mainContainer">
    <button class="button prevBtn" type="button" area-label="Previous">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
    </button>

    <button class="button nextBtn" type="button" aria-label="Next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/>
        </svg>
    </button>
    <!--

        <table id="textTest">
          <tr>
            <th>ctgr_cd</th>
            <th>ctgr_nm</th>
            <th>ctgr_order</th>
            <th>prt_ctgr_cd</th>
            <th>use_yn</th>
          </tr>
          <tr th:each="category:${categoryList}" th:if="${category.getPrt_ctgr_cd()} != ''">
            <td th:text="${category.getCtgr_cd()}"></td>
            <td th:text="${category.getCtgr_nm()}"></td>
            <td th:text="${category.getCtgr_order()}"></td>
            <td th:text="${category.getPrt_ctgr_cd()}"></td>
            <td th:text="${category.getUse_yn()}"></td>
          </tr>
        </table>
    -->

    <!-- 메인 배너 이미지 슬라이드 박스 -->
    <div class="slideWrapper">
        <ul class="slides">
            <li>
                <img class="pcImg" src="/img/slide/main_bn4.jpg" alt="메인배너"/>
            </li>
            <li>
                <img class="pcImg" src="/img/slide/main_bn2.jpg" alt="메인배너"/>
            </li>
            <li>
                <img class="pcImg" src="/img/slide/main_bn3.jpg" alt="메인배너"/>
            </li>
            <li>
                <img class="pcImg" src="/img/slide/main_bn1.jpg" alt="메인배너"/>
            </li>
            <li>
                <img class="pcImg" src="/img/slide/main_bn5.jpg" alt="메인배너"/>
            </li>
        </ul>

    </div>

    <!-- --------------------- 상품 소개---------------------- -->
    <section class="productContainer">
        <div class="product">
            <div class="productMent">
                <h1>ALL PRODUCT</h1>
            </div>
            <div class="prdMore">
                <a th:href="@{/item/list2(ctgr_cd=${'0005'})}">+ 더보기</a>
            </div>

            <div class="productImgList">
                <div class="productImg productImg1" th:each="item : ${list}">
                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=${item.item_id})}"
                       class="img1">
                        <img th:src="'../../../upload/' + ${item.img_name}" alt="상품1" class="prdImg1"/></a>
                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=${item.item_id})}"
                       class="img2">
                        <img th:src="'../../../upload/' + ${item.img_name}" alt="상품1" class="prdImg2"/></a>
                    <h1 class="name">
                        <span th:text="${item.item_name}"> 헤어 방수 밴드 </span>
                        <p th:text="${#numbers.formatInteger(item.item_price, 3, 'COMMA')}+' 원'">15,900원</p>
                    </h1>
                </div>
            </div>
        </div>

        <div class="review">
            <div class="reviewMent">
                <h1>REVIEW</h1>
            </div>
            <ul id="reviewList">
                <li th:each="list:${reviewList}" >
                    <div th:text="${list.getReview_seq()}" style="display: none"></div>
                    <div class="c_img_container">
                        <img th:src="'../../../upload/' + ${list.getAttachment_name()}" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}" alt="1번">
                    </div>
                    <div>
                        <a th:text="${list.getReview_content()}" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}">고객님의 소중한 후기입니다.</a>
                        <a th:text="${list.getUser_id() }" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}">c**</a>
                    </div>
                    <div class="c_review_target">
                        <div>
                            <a th:text="${list.getReview_title()}" th:href="@{/community/reviewDetail(review_seq=${list.getReview_seq()})}" >[BEST] 워킹 세이프 스프레이</a>
                            <div class="c_user_rank">
                                <span>평점</span>
                                <strong th:text="${list.review_rank}">9.4</strong>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

<!--        <div class="product">-->
<!--            <div class="productMent">-->
<!--                <h1># <span>BEST</span> PRODUCT</h1>-->
<!--            </div>-->
<!--            <div class="prdMore">-->
<!--                <a th:href="@{/itemBest}"}>전체보기 +</a>-->
<!--            </div>-->

<!--            <div class="productImgList">-->
<!--                <div class="productImg productImg5">-->
<!--                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=10000000)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0000.jpeg" alt="상품1" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=10000000)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0000-2.jpeg" alt="상품1" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 헤어 방수 밴드 </span>-->
<!--                        <p>15,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg6">-->
<!--                    <a href="/item/itemDetail?item_id=10000001" th:href="@{/item/itemDetail/{itemId}(itemId=10000001)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0001.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000001" th:href="@{/item/itemDetail/{itemId}(itemId=10000001)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0001-1.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 수딩 오인먼트 </span>-->
<!--                        <p>12,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg7">-->
<!--                    <a href="/item/itemDetail?item_id=10000002" th:href="@{/item/itemDetail/{itemId}(itemId=10000002)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0002.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000002" th:href="@{/item/itemDetail/{itemId}(itemId=10000002)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0002-2.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 베리덴탈 스프레이 </span>-->
<!--                        <p>12,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg8">-->
<!--                    <a href="/item/itemDetail?item_id=10000003" th:href="@{/item/itemDetail/{itemId}(itemId=10000003)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0003.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000003" th:href="@{/item/itemDetail/{itemId}(itemId=10000003)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0003-1.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 토일렛 페이퍼 토이 </span>-->
<!--                        <p>14,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="productImg productImg9">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img1"><img src="../img/bannerImg/07.jpg" alt="상품9" class="prdImg1"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img2"><img src="../img/bannerImg/07-1.png" alt="상품9" class="prdImg2"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="name">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span> 사르르 미니캔 캣 </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>9,500원</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </h1>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="productImg productImg10">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img1"><img src="../img/bannerImg/08.jpg" alt="상품10" class="prdImg1"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img2"><img src="../img/bannerImg/08_1.jpg" alt="상품10" class="prdImg2"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="name">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span> 사르르 영양스튜 캣 </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>2,500원</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </h1>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="productImg productImg11">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img1"><img src="../img/bannerImg/09.jpg" alt="상품11" class="prdImg1"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img2"><img src="../img/bannerImg/09-1.jpg" alt="상품11" class="prdImg2"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="name">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span> 사르르 영양스튜 독 </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>2,500원</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </h1>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="productImg productImg12">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img1"><img src="../img/bannerImg/10.jpg" alt="상품12" class="prdImg1"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="img2"><img src="../img/bannerImg/10-1.jpg" alt="상품12" class="prdImg2"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="name">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span> 마이핏 하네스 & 리쉬 라이트 </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>27,900원</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </h1>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="product">-->
<!--            <div class="productMent">-->
<!--                <h1># PRODUCT <span> REVIEW</span></h1>-->
<!--            </div>-->
<!--            <div class="prdMore">-->
<!--&lt;!&ndash;                <a href="">전체보기 +</a>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="productImgList">-->
<!--                <div class="productImg productImg1">-->
<!--                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=10000000)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0000.jpeg" alt="상품1" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=10000000)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0000-2.jpeg" alt="상품1" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 헤어 방수 밴드 </span>-->
<!--                        <p>15,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg2">-->
<!--                    <a href="/item/itemDetail?item_id=10000001" th:href="@{/item/itemDetail/{itemId}(itemId=10000001)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0001.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000001" th:href="@{/item/itemDetail/{itemId}(itemId=10000001)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0001-1.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 수딩 오인먼트 </span>-->
<!--                        <p>12,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg3">-->
<!--                    <a href="/item/itemDetail?item_id=10000002" th:href="@{/item/itemDetail/{itemId}(itemId=10000002)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0002.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000002" th:href="@{/item/itemDetail/{itemId}(itemId=10000002)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0002-2.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 베리덴탈 스프레이 </span>-->
<!--                        <p>12,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->

<!--                <div class="productImg productImg4">-->
<!--                    <a href="/item/itemDetail?item_id=10000003" th:href="@{/item/itemDetail/{itemId}(itemId=10000003)}"-->
<!--                       class="img1">-->
<!--                        <img src="/img/item/0003.jpeg" alt="상품2" class="prdImg1"/></a>-->
<!--                    <a href="/item/itemDetail?item_id=10000003" th:href="@{/item/itemDetail/{itemId}(itemId=10000003)}"-->
<!--                       class="img2">-->
<!--                        <img src="/img/item/0003-1.jpeg" alt="상품2" class="prdImg2"/></a>-->
<!--                    <h1 class="name">-->
<!--                        <span> 토일렛 페이퍼 토이 </span>-->
<!--                        <p>14,900원</p>-->
<!--                    </h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </section>

    <!-- --------------------- 상품 소개---------------------- -->
</main>
<!--------------------- <main> 끝 --------------------->

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->
</body>
</html>