<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../common/css/header.css">
    <link rel="stylesheet" href="../../../../common/css/footer.css">
    <link rel="stylesheet" href="../../../../common/css/indexCommon.css">
    <link rel="stylesheet" href="../../../../css/user/myPage/userMyPageCommon.css">
    <link rel="stylesheet" href="../../../../css/user/myPage/userMyPageOrder.css">
    <script src="../../../../js/jquery/jquery-3.6.3.min.js"></script>
    <script defer src="../../../../js/index.js"></script>

    <title>order</title>
</head>

<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    let userId = /*[[ ${session.loginID} ]]*/;
    /*]]>*/
    $(function() {
        $('#orderSearch').click(function () {
            self.location = '/user/myPage/order?user_id='+userId+'&currPage=1&rowsPerPage=9'
                + '&searchType=' + $('#searchType').val();
        }); //click
    });


</script>

    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->

    <!-- ---------------- <header> 모듈 ------------------ -->
    <header th:replace="html/fragments/headerFooter :: header"></header>
    <!-- ---------------- <header> 모듈 ------------------ -->


    <div class="myPageContainer">
        <div class="pageTopContainer">
            <div class="pageTitle">
                <h2>MY PAGE</h2>
            </div>
            <ul class="pageNav">
                <li><a href="/user/myPage/myHome">홈</a></li>
                <li><a href="#">주문내역</a></li>
                <li><a href="/user/myPage/coupon">쿠폰</a></li>
                <li><a href="/user/myPage/modify">회원정보</a></li>
                <li><a href="/user/heart">좋아요</a></li>
            </ul>
        </div>

        <div class="myPageOrderContainer">
            <h2>주문내역</h2>

<!--            <div class="menu">-->
<!--                <a href="#">주문내역조희 [0]</a>-->
<!--                <a href="#">취소/반품/교환 내역 [0]</a>-->
<!--            </div>-->

            <form class="orderHistoryForm">
                <ul>
                    <li>
<!--                        <select id="order_status" name="order_status" class="fSelect">-->
<!--                            <option value="all">전체 주문처리상태</option>-->
<!--                            <option value="shipped_before">입금전</option>-->
<!--                            <option value="shipped_standby">배송준비중</option>-->
<!--                            <option value="shipped_begin">배송중</option>-->
<!--                            <option value="shipped_complate">배송완료</option>-->
<!--                            <option value="order_cancel">취소</option>-->
<!--                            <option value="order_exchange">교환</option>-->
<!--                            <option value="order_return">반품</option>-->
<!--                        </select>-->
                        <div class="c_reviewtools">
                            <select name="searchType" id="searchType">
                                <option value="all" th:selected="${pageNation.cri.searchType==null}">전체 주문처리상태</option>
                                <option value="D" th:selected="${pageNation.cri.searchType=='D'}" id="shipped_standby">배송준비중</option>
                                <option value="begin" th:selected="${pageNation.cri.searchType=='begin'}" id="shipped_begin">배송중</option>
                                <option value="complete" th:selected="${pageNation.cri.searchType=='complete'}" id="shipped_complete">배송완료</option>
                                <option value="cancel" th:selected="${pageNation.cri.searchType=='cancel'}" id="order_cancel">취소</option>
                                <option value="exchange" th:selected="${pageNation.cri.searchType=='exchange'}" id="order_exchange">교환</option>
                                <option value="return" th:selected="${pageNation.cri.searchType=='return'}" id="order_return">반품</option>
                            </select>
<!--                            <input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.getKeyword()}">-->
                            <button type="button" id="orderSearch">Search</button>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <span class="period">-->
<!--                            <a href="#none" class="btnLine" days="00">오늘</a>-->
<!--                            <a href="#none" class="btnLine" days="07">1주일</a>-->
<!--                            <a href="#none" class="btnLine" days="30">1개월</a>-->
<!--                            <a href="#none" class="btnLine" days="90">3개월</a>-->
<!--                            <a href="#none" class="btnLine" days="180">6개월</a>-->
<!--                        </span>-->
<!--                    </li>-->
<!--                    <li class="calendar">-->
<!--                        <input type="date">-->
<!--                        ~-->
<!--                        <input type="date">-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button>조회</button>-->
<!--                    </li>-->
                </ul>
            </form>

            <ul class="tip">
                <li>
                    기본적으로 최근 3개월간의 자료가 조회되며, 기간 검색시 지난 주문내역을 조회하실 수 있습니다.
                </li>
                <li>
                    상품명을 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.
                </li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <td>주문일자[주문번호]</td>
                        <td>상품명</td>
                        <td>상품가격</td>
                        <td>결제수단</td>
                        <td>주문처리상태</td>
                        <td>취소/교환/반품</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="orderList : ${orderList}">
                        <td th:text="${orderList.order_date}+' ['+${orderList.order_code}+']'"></td>
                        <td th:text="${orderList.item_name} + ' 외 ' + ${orderList.order_count} + '건'"></td>
                        <td th:text="${orderList.order_price}+'원'"></td>
                        <td th:if="${orderList.order_payment == 'card'}" th:text="'카드'"></td>
                        <td th:if="${orderList.order_status == 'D'}" th:text="'배송준비중'"></td>
                        <td th:text="${orderList.order_claim == null ? '-' : orderList.order_claim  } "></td>

                    </tr>
                </tbody>

            </table>

            <div class="noOrder" th:if="${pageNation.totalRowsCount == 0}">
                <p style="font-size: 14px">
                    주문 내역이 없습니다.
                </p>
            </div>

            <div class="pageNation">
<!--                &lt;-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#">1</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                &gt;-->
                <div class="c_page" th:if="${pageNation.totalRowsCount > 0}">
                    <div th:if="${pageNation.prev and pageNation.spageNo > 1}">
                        <a th:href="@{order(user_id=${session.loginID},currPage=1,rowsPerPage=9)}"><<</a>&nbsp;
                        <a th:href="@{order(user_id=${session.loginID},currPage={i}&rowsPerPage=9(i=${pageNation.spageNo-1})}">&lt;</a>&nbsp;&nbsp;
                    </div>
                    <div th:unless="${pageNation.prev and pageNation.spageNo > 1}">
                        <font color="Gray"><<&nbsp;&lt;&nbsp;&nbsp;</font>
                    </div>
                    <!--Display PageNo-->
                    <div th:each="i : ${#numbers.sequence(pageNation.spageNo, pageNation.epageNo)}">
                        <div th:if="${i == pageNation.cri.currPage}">
                            <font size="initial" color="#8E83A9" th:text="${i}"></font>&nbsp;
                        </div>
                        <div th:unless="${i == pageNation.cri.currPage}">
                            <a th:href="@{order?currPage={i}&rowsPerPage=9(i=${i})}" th:text="${i}"></a>&nbsp;
                        </div>
                    </div>
                    <!--Next, LastPage-->
                    <div th:if="${pageNation.next and pageNation.epageNo > 0}">
                        <a th:href="@{order(user_id=${session.loginID},currPage={i}&rowsPerPage=9(i=${pageNation.epageNo+1})}">&nbsp;&gt;</a>
                        <a th:href="@{order(user_id=${session.loginID},currPage={i}&rowsPerPage=9(i=${pageNation.lastPageNo})}">&nbsp;>></a>

                    </div>
                    <div th:unless="${pageNation.next and pageNation.epageNo > 0}">
                        <font color="Gray">&nbsp;&gt;&nbsp;>></font>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------- <footer> 모듈 --------------------->
    <footer th:replace="html/fragments/headerFooter :: footer"></footer>
    <!--------------------- <footer> 모듈 --------------------->

</body>


</html>