<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>like</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/item/css/itemLike.css">
</head>

<body>
    <main>
        <h1>Wishlist</h1>
        <hr>
        <article class="shop_likelist">
            <ul>
                <li class="shop_likeboxnone hidden">
                    <span>보관함이 비어 있습니다.</span>
                </li>
                <li class="shop_likebox">
                    <div class="shop_likeleft">
                        <div class="agreeAll checkBox">
                            <input type="checkbox" name="agreeCheck1" id="agreeCheck1">
                            <label for="agreeCheck1" id="agreeCheck1"></label>
                        </div>
                        <a href="itemDetails.html" class="likelistimgbox">
                            <img src="./img/photo_5.jpg" alt="아르르 꿀잠 방석" class="likelistimg">
                        </a>
                        <a href="itemDetails.html" class="likelisttextbox">
                            <strong>아르르 꿀잠 방석</strong>
                        </a>
                    </div>
                    <div class="shop_likeright">
                        <img src="./img/delete.png" alt="삭제버튼" class="likedeleteIcon" name="1">
                    </div>
                </li>
                <li class="shop_likebox">
                    <div class="shop_likeleft">
                        <div class="agreeAll checkBox">
                            <input type="checkbox" name="agreeCheck2" id="agreeCheck2">
                            <label for="agreeCheck2" id="agreeCheck2"></label>
                        </div>
                        <a href="itemDetails.html" class="likelistimgbox">
                            <img src="./img/payment_1.jpg" alt="사르르 미니 캔" class="likelistimg">
                        </a>
                        <a href="itemDetails.html" class="likelisttextbox">
                            <strong>사르르 미니 캔</strong>
                        </a>
                    </div>
                    <div class="shop_likeright">
                        <img src="./img/delete.png" alt="삭제버튼" class="likedeleteIcon" name="2">
                    </div>
                </li>
            </ul>
        </article>
        <article class="shop_likeBtnlist">
            <div class="shop_likeBtnleft">
                <a href="#none" class="likepayBtnw">선택삭제</a>
                <a href="#none" class="likepayBtnw">전체삭제</a>
            </div>
            <div class="shop_likeBtnright">
                <a href="#" class="likepayBtnw">장바구니 담기</a>
                <a href="#" class="likepayBtnb">상품 주문하기</a>
            </div>
        </article>
    </main>
</body>

</html>