<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itemList New</title>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <!--    <link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" href="/css/itemList/itemList.css">
    <link rel="stylesheet" href="/css/itemList/itemSearch.css">
    <link rel="stylesheet" href="/common/css/indexCommon.css">
    <script src="/js/jquery/jquery-3.6.3.min.js"></script>
    <!--    <script src="/js/header.js"></script>-->
    <script defer src="/js/itemList/itemList.js"></script>
    <script defer src="/js/index.js"></script>
<!--    <script defer src="/js/sub.js"></script>-->
    <!-- <script defer src="../javascript/main.js"></script> -->
    <script src="https://kit.fontawesome.com/820cd623a1.js" crossorigin="anonymous"></script>

</head>
<body>
<!-- ---------------- 버튼 ------------------ -->
<a class="toTop hidden_" href="#"> </a>
<!-- ---------------- 버튼 ------------------ -->

<!-- ---------------- <header> 모듈 ------------------ -->
<header th:replace="html/fragments/headerFooter :: header"></header>
<!-- ---------------- <header> 모듈 ------------------ -->

<!--------------------- <main> 시작 --------------------->
<main class="mainContainer">
    <div id="wrap">

        <div id="container">
            <!-- contents 감싸는 컨테이너 -->
            <div class="contents">
                <!--헤더를 제외한 모든 내용을 포함한 박스-->

                <div class="pageTitleWrap white">
                    <!--큰 제목 감싸는 박스-->

                    <div class="pageTitle">SEARCH</div>

                    <!--큰 제목-->
                    <div class="pageNav">
                        <!--제목 아래 세부 카테고리-->
                        <ul class="pageList">
                            <!-- 작은 카테고리-->
<!--                            <li class="active" th:each="category : ${category}">-->
<!--                                <a class="itemSub" th:href="@{/item/list2(ctgr_cd=${category.ctgr_cd})}"-->
<!--                                   th:text="${category.ctgr_nm}">-->
<!--                                </a>-->

                            </li>
                        </ul>
                    </div>


                    <!-- 상품정렬 후 다시 리로딩했을 때 컨테이너 view-->
                    <!-- --------------------- 상품 소개---------------------- -->
                    <section class="productContainer">
                        <div class="searchResult" th:text="'입력하신 상품에 대한 결과는 총 ' + ${#lists.size(products)} + '건 입니다.'"></div>

                        <div class="product" th:each="item:${products}">
                            <input type="hidden" th:value="${item.ctgr_cd}" id="hidden_ctgr_cd">
                            <div class="productImgList">
                                <div class="productImg productImg1">
                                    <a href="/item/itemDetail?item_id=10000000"
                                       th:href="@{/item/itemDetail/{itemId}(itemId=${item.item_id})}"
                                       class="img1"><img
                                            th:src="'../../../upload/' + ${item.img_name}" alt="상품1" class="prdImg1"></a>
                                    <!--                                    <a href="/item/itemDetail?item_id=10000000" th:href="@{/item/itemDetail/{itemId}(itemId=10000000)}" class="img2"><img-->
                                    <!--                                            src="/img/item/0000-1.jpeg" alt="상품1" class="prdImg2"></a>-->
                                    <h1 class="name">
                            <span th:text="${item.item_name}">
                                헤어 방수 밴드
                            </span>
                                        <p th:text="${#numbers.formatInteger(item.item_price, 3, 'COMMA')}+' 원'">
                                            15,900원
                                        </p>
                                    </h1>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
            </section>

        </div>
    </div>

    </div>

</main>
<!--------------------- <main> 끝 --------------------->

<!--------------------- <footer> 모듈 --------------------->
<footer th:replace="html/fragments/headerFooter :: footer"></footer>
<!--------------------- <footer> 모듈 --------------------->
</body>

</html>