/* 공통 스타일 */

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSansKR-Regular';
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6b6b6b;
}

/* ----------------------------------------------- */


/* body */

body {
    display: flex;
}

/* ----------------------------------------------- */

/* 타이틀 */

.title h1 {
    color: white;
}

/* ----------------------------------------------- */

/* header */

/* header */

header {
    background-color: #baaad780;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100vh;
    gap: 50px;
    padding-left: 20px;
}

.list>li {
    margin-bottom: 20px;
}

#logoImg {
    width: 200px;
}



.list li a {
    color: #8E83A9;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid;
}

.list>li ul {
    display: none;
}



/* ----------------------------------------------- */


/* contents  */

#contents {
    padding: 50px 0;
    margin-bottom: 200px;
    width: calc(80% - 250px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}



.box {
    width: 50%;
    height: 500px;
    padding: 40px 30px 0 50px;
    position: relative;
}

.box.product {
    width: 100%;
    margin-top: 50px;
}

.box .bg .title {
    display: flex;
    justify-content: space-between;
}

.bg ul {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 20px;
}

.bg ul li {
    width: 100%;
    height: 1px;
    background-color: #6b6b6b;
    position: relative;
}

.bg ul li span {
    position: absolute;
    top: -12px;
    right: 101%;
}

.graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 489px;
    padding: 40px 30px 0 50px;
}

.graph ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 403px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 30px 0 50px;
}

.graph ul li {
    width: 8%;
    height: 48%;
    background-color: #baaad780;
    position: relative;
}

.box.product .graph ul li {
    width: 6%;
    white-space: nowrap;
}

.graph ul li:nth-child(2) {
    height: 32%;
}

.graph ul li:nth-child(3) {
    height: 68%;
}

.graph ul li:nth-child(4) {
    height: 77%;
}

.graph ul li:nth-child(5) {
    height: 91%;
}

.graph ul li:nth-child(6) {
    height: 56%;
}

.graph ul li:nth-child(7) {
    height: 23%;
}

.graph ul li span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.graph ul li strong {
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
}






.box.age {
    white-space: nowrap;
}

/* ----------------------------------------------- */


























.wrap {
    position: absolute;
    top: 0px;
    left: 57%;
    perspective: 400px;
}

.wrap .cube {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 3.6s;

}

.wrap .cube:hover {
    transform: rotateX(500deg) rotateY(500deg);
}

.wrap .cube div {
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    color: #fff;
    transform-style: preserve-3d;
}

.cube .top {
    background-color: rgba(0, 0, 0, 0.7);
    top: -25px;
    left: 0;
    transform: rotateX(90deg);
}

.cube .bottom {
    background-color: rgba(0, 0, 0, 0.7);
    top: 25px;
    left: 0;
    transform: rotateX(-90deg);
}

.cube .left {
    background-color: rgba(0, 160, 233, 0.7);
    top: 0;
    left: -25px;
    transform: rotateY(-90deg);
}

.cube .right {
    background-color: rgba(0, 160, 233, 0.7);
    top: 0;
    left: 25px;
    transform: rotateY(90deg);
}

.cube .front {
    background-color: rgba(215, 0, 81, 0.7);
    top: 0;
    left: 0;
    transform: translateZ(25px);
}

.cube .back {
    background-color: rgba(215, 0, 81, 0.7);
    top: 0;
    left: 0;
    transform: translateZ(-25px) rotate(180deg);
}