<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/admin/admin.css" />
    <script defer src="../../javascript/index.js"></script>

    <title>관리자페이지</title>
</head>

<body>

    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->
    <header id="headerTop">
        <div class="title">
            <h1>관리자페이지</h1>
        </div>

        <ul class="list">
            <li class="dBoard">
                <a href="/admin/main">대시보드</a>
            </li>
            <li class="userInfo">
                <a href="/admin/user/userInfo">회원정보</a>
                <ul>
                    <li>
                        <a href="#">회원 정보 관리</a>
                    </li>
                    <li>
                        <a href="#">메일,sns 수신 관리</a>
                    </li>
                </ul>
            </li>
            <li class="productInfo">
                <a href="/admin/itemList">상품관리</a>
                <ul>
                    <li>
                        <a href="#">상품관리</a>
                    </li>
                </ul>
            </li>
            <li class="noticeInfo">
                <a href="/admin/board">게시판관리</a>
            </li>

        </ul>
    </header>


    <div id="contents">

        <div class="box visitor">
            <div class="bg">
                <div class="title">
                    <span>today : 20명</span>
                    <span>총 회원수 : 200명</span>
                </div>
                <ul>
                    <li><span>100</span></li>
                    <li><span>80</span></li>
                    <li><span>60</span></li>
                    <li><span>40</span></li>
                    <li><span>20</span></li>
                    <li><span>0</span></li>
                </ul>
            </div>
            <div class="graph">
                <ul>
                    <li>
                        <span>48</span>
                        <strong>월</strong>
                    </li>
                    <li>
                        <span>32</span>
                        <strong>화</strong>
                    </li>
                    <li>
                        <span>68</span>
                        <strong>수</strong>
                    </li>
                    <li>
                        <span>77</span>
                        <strong>목</strong>
                    </li>
                    <li>
                        <span>91</span>
                        <strong>금</strong>
                    </li>
                    <li>
                        <span>56</span>
                        <strong>토</strong>
                    </li>
                    <li>
                        <span>23</span>
                        <strong>일</strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box age">
            <div class="bg">
                <div class="title">
                    <span>today : 2023-02-08</span>
                    <span>연령별 방문자수</span>
                </div>
                <ul>
                    <li><span>100</span></li>
                    <li><span>80</span></li>
                    <li><span>60</span></li>
                    <li><span>40</span></li>
                    <li><span>20</span></li>
                    <li><span>0</span></li>
                </ul>
            </div>
            <div class="graph">
                <ul>
                    <li>
                        <span>56</span>
                        <strong>10대</strong>
                    </li>
                    <li>
                        <span>48</span>
                        <strong>20대</strong>
                    </li>
                    <li>
                        <span>32</span>
                        <strong>30대</strong>
                    </li>
                    <li>
                        <span>68</span>
                        <strong>40대</strong>
                    </li>
                    <li>
                        <span>77</span>
                        <strong>50대</strong>
                    </li>
                    <li>
                        <span>91</span>
                        <strong>60~</strong>
                    </li>
                </ul>
            </div>
        </div>


        <div class="box product">
            <div class="bg">
                <div class="title">
                    <span>상품 목록</span>
                </div>
                <ul>
                    <li><span>100</span></li>
                    <li><span>80</span></li>
                    <li><span>60</span></li>
                    <li><span>40</span></li>
                    <li><span>20</span></li>
                    <li><span>0</span></li>
                </ul>
            </div>
            <div class="graph">
                <ul>
                    <li>
                        <span>48</span>
                        <strong>ALL</strong>
                    </li>
                    <li>
                        <span>32</span>
                        <strong>NEW</strong>
                    </li>
                    <li>
                        <span>68</span>
                        <strong>LIVING</strong>
                    </li>
                    <li>
                        <span>77</span>
                        <strong>WALKING</strong>
                    </li>
                    <li>
                        <span>91</span>
                        <strong>CLEAN</strong>
                    </li>
                    <li>
                        <span>56</span>
                        <strong>FOOD</strong>
                    </li>
                    <li>
                        <span>23</span>
                        <strong>FOR CAT</strong>
                    </li>
                    <li>
                        <span>23</span>
                        <strong>SALE</strong>
                    </li>
                </ul>
            </div>
        </div>



        <div class="wrap">
            <div class="cube">
                <div class="top">top</div>
                <div class="bottom">bottom</div>
                <div class="left">left</div>
                <div class="right">right</div>
                <div class="front">front</div>
                <div class="back">back</div>
            </div>
        </div>




    </div>

</body>

</html>