<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/admin/community/faq.css" />
    <script defer src="../../javascript/index.js"></script>

    <title>상품정보</title>
</head>

<body>

    <!-- ---------------- 버튼 ------------------ -->
    <a class="toTop hidden_" href="#"> </a>
    <!-- ---------------- 버튼 ------------------ -->
    <header id="headerTop">
        <div class="title">
            <h1>관리자페이지</h1>
        </div>

        <ul class="list">
            <li class="dBoard">
                <a href="../admin.html">대시보드</a>
            </li>
            <li class="userInfo">
                <a href="../user/userInfo.html">회원정보</a>
                <ul>
                    <li>
                        <a href="#">회원 정보 관리</a>
                    </li>
                    <li>
                        <a href="#">메일,sns 수신 관리</a>
                    </li>
                </ul>
            </li>
            <li class="productInfo">
                <a href="../item/itemInfo.html">상품관리</a>
                <ul>
                    <li>
                        <a href="#">상품관리</a>
                    </li>
                </ul>
            </li>
            <li class="noticeInfo">
                <a href="../community/notice.html">게시판관리</a>
            </li>
        </ul>
    </header>


    <div id="contents">
        <ul class="topMenu">
            <li>
                <a href="/admin/community/notice">공지사항</a>
            </li>
            <li>
                <a href="/admin/community/faq">FAQ</a>
            </li>
            <li>
                <a href="/admin/community/qna">Q&A</a>
            </li>
            <li>
                <a href="/admin/community/review">리뷰</a>
            </li>
        </ul>

        <table class="noticeInfo">
            <caption>FAQ 관리</caption>

            <tr>
                <th>번호</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>질문</th>
            </tr>

            <tr th:each="faqList : ${faqList}">
                <td th:text="${faqList.faq_seq}"></td>
                <td th:text="${faqList.ctgr_cd}"></td>
                <td th:text="${faqList.faq_title}"></td>
                <td th:text="${faqList.faq_content}"></td>
            </tr>




        </table>


        <div class="pageNation">
            &lt;
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
            </ul>
            &gt;
        </div>

    </div>

</body>

</html>